@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* header style starts */
.banner {
      justify-content: space-between;
}


.banner-heading {
      background-image: url(../images/Hero-bg.png);
      background-size: cover;
}

.banner-content {
      text-align: center;
      padding-top: 26px;
      margin-bottom: 32px;
}

.banner-title {
      font-size: 48px;
      font-weight: 600;
      margin-bottom: 24px;
}

.banner-discription {
      margin-bottom: 32px;
      opacity: 0.6;
      margin-bottom: 32px;
}

.btn-primary {
      border: 0px;
      color: white;
      background-color: #0D1321;
      border-radius: 8px;
      padding: 20px 43px;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 44px;
}

/* header style ends */

.primary-title {
      border: 1px solid white;
      background-color: #c9cace;
      text-align: center;
      margin-top: 74px;
      border-radius: 10px;
      padding: 80px 97px;
}

header {
      margin-top: 40px;
}

.text-para {
      margin-bottom: 48px;
}

.first-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
      border: none;
      background-color: white;
      margin: 20px 30px;
      justify-content: space-around;
      border-radius: 10px;
      margin-bottom: 32px;

}

.second-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
      border: none;
      background-color: white;
      margin: 20px 30px;
      justify-content: space-around;
      border-radius: 10px;
      margin-bottom: 32px;
}

.third-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
      border: none;
      background-color: white;
      margin: 20px 30px;
      justify-content: space-around;
      border-radius: 10px;
}

.secondary-title {
      text-align: center;
      justify-content: center;
}

.secondary-heading {
      margin-top: 90px;
}
.secondary-para {
      margin: 24px 0px 48px;
}

.multimedia {
      border: 2px solid black;
      padding: 30px;
      margin: 0px 50px;
      border-radius: 10px;
      background-size: cover;
      height: 400px;
      width: 850px;
      justify-content: center;

}

.frame {
      padding-left: 140px;
      border-radius: 10px;
}